.footer{
  background-color: #2c3135;
  color: #f0f0f0;
  font-weight: 600;
  padding: 20px 0px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.footer__discord-ref
{
  text-decoration: none;
  color:rgb(88,106,234);
}

.footer__vk-ref
{
  text-decoration: none;
  color: rgb(0,118,253);
}

.footer__icon
{
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
}