
.mmi-info-card{
    text-align: center;
    max-width: 300px;
    background-color: white;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mmi-info-card__title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.mmi-info-card__subtitle{
    display: block;
    font-size: 15px;
    color: #737373;
}

.mmi-info-card__sticker{
    object-fit: cover;
    width: 200px;
    height: 200px;
    width: 200px;
}

.mmi-info-card__follow{
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none
}
