.header{
  width: 100%;
}

.header__wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.header__logo{
  font-weight: 800;
  font-size: 180%;
  text-align: center;
}

.header__navigation{
  margin: auto 0px;
}

.header__navigation__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__navigation__item{
  margin-left: 20px;
}

.header__navigation__link{
  font-size: 100%;
  color: black;
  text-decoration: none;
}

.header__navigation__link:active, .header__navigation__item:hover{
  opacity: 0.3;
}