
.advanteges__title{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.advanteges__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.advanteges__list__item{
  max-width: 420px;
  padding-left: 80px;
}

.advanteges__item__title{
  font-size: 20px;
  font-weight: 600;
}

.advanteges__item__subtitle{
  font-size: 15px;
  font-weight: 400;
}

.consultation-sticker{
  background: left no-repeat url(./images/advanteges/consultation.png);
  background-size: 60px 60px; 
}

.control-sticker{
  background: left no-repeat url(./images/advanteges/control.png);
  background-size: 60px 60px; 
}

.quality-sticker{
  background: left no-repeat  url(./images/advanteges/quality.png);
  background-size: 60px 60px; 
}

.speed-sticker{
  background: left no-repeat url(./images/advanteges/speed.png);
  background-size: 60px 60px; 
}