
.mmi-info{
    margin-top: -15vh;
    text-align: center; 
}

.mmi-info__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.mmi-info__cards__item{
    margin: 10px;
}
